# Core Libraries
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
scipy==1.15.2
matplotlib==3.8.4
seaborn==0.13.2
missingno==0.5.2
statsmodels==0.14.1

# Oversampling
imbalanced-learn==0.12.2

# Tree-based models
catboost==1.2.3
xgboost==2.0.3

# Explainability
shap==0.47.2

# Deep Learning
tensorflow==2.16.1
scikeras==0.13.0

# Hyperparameter tuning

# Notebook
jupyter
ipykernel

# Progress Bars
tqdm==4.66.4
